/* CSS Styles */

.list-inline li {
	display: inline-block;
	padding-right: 20px;
}

li.react-datepicker__time-list-item {
	height: initial !important; 
}

.form-group .react-datepicker__input-container, .form-group .react-datepicker-wrapper {
	display: block !important; 
}

/* Calendar Styles */
.selectElement {
	margin: 10px;
}

.grouped-charter-invoice {
	text-align: center;
	background-color: lightgreen;
}

.grouped-charter-invoice a {
	padding: 20px 20px;
}

.weekend-day-blank {
	text-align: center;
	background-color: grey;
}

.week-day-blank {
	text-align: center;
	background-color: white;
}